[submodule "dependencies/qhue"]
	path = dependencies/qhue
	url = https://github.com/quentinsf/qhue.git
[submodule "dependencies/enocean"]
	path = dependencies/enocean
	url = https://github.com/alignan/enocean.git
